/** Styles for all themes */
.TcHmi_Controls_Beckhoff_TcHmiMultiState {
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiMultiState-template {
    height: 100%;
    width: 100%;
    display: grid;

    .multi-state-background-color {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .multi-state-icon {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: content-box;
        background-clip: content-box;
        box-sizing: border-box;
    }

    .multi-state-text {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        box-sizing: border-box;
    }

    .multi-state-text-span {
        max-width: 100%;
        max-height: 100%;
    }
}
