/** Styles for all themes */

.TcHmi_Controls_Beckhoff_TcHmiCombobox,
.tchmi-combobox,
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown,
.tchmi-template-dropdown {
    --tchmi-button-width: 26px;
    --tchmi-padding: 3px;
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template,
.tchmi-combobox-template {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: transparent;
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-focus-border,
.tchmi-combobox-template-focus-border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------Button--------------------------------------------------------------*/
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-button,
.tchmi-combobox-template-button {
    height: 100%;
    width: var(--tchmi-button-width);
    position: absolute;
    top: 0;
    right: 0;
    background-size: 100%;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

/*--------------------------------------------select--------------------------------------------------*/
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-select,
.tchmi-combobox-template-select {
    top: 0px;
    left: 0px;
    height: 100%;
    width: calc(100% - var(--tchmi-button-width));
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    display: flex;
    align-items: center;
    text-align: left;
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-select-content,
.tchmi-combobox-template-select-content {
    padding: var(--tchmi-padding);
    top: 0;
    right: 0;
    bottom: 0;
    left: var(--tchmi-padding); /*2px left 'padding'*/
    width: 100%; /* needed for text-align from the parent */
    border: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*-----------------------table--------------------------------------*/
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template .TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown,
.tchmi-combobox-template .tchmi-combobox-template-dropdown {
    display: none;
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown,
.tchmi-combobox-template-dropdown {
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: 20px; /* empty source data should give click feedback */
    min-width: 10px; /* empty source data should give click feedback */
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown-element,
.tchmi-combobox-template-dropdown-element {
    white-space: nowrap;
    cursor: default;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-height: var(--tchmi-data-height);
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown-category {
    max-height: var(--tchmi-data-height);
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown-text,
.tchmi-combobox-template-dropdown-text {
    white-space: pre;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex: 1;
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-dropdown-image {
    /** tchmi-data-height will be the attribute via the setter */
    height: calc(var(--tchmi-data-height) - (2 * var(--tchmi-padding)));
    max-height: calc(var(--tchmi-data-height) - (2 * var(--tchmi-padding)));
    padding: var(--tchmi-padding);
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-input,
.tchmi-combobox-template-input {
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-align: inherit;
    white-space: pre;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: var(--tchmi-padding);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: var(--tchmi-padding);
    border: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
}

/* The main use for this control is interaction. So mark when this is not allowed. */
.TcHmi_Controls_Beckhoff_TcHmiCombobox.TcHmi_Controls_System_TcHmiControl-operate-disallowed::after,
.tchmi-combobox.tchmi-control-operate-disallowed::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
    cursor: not-allowed;
}
